.more-btn-win {
    // padding: 14px 11px;
    background-color: #ffffff !important;
    color: black;
    text-decoration: none;
    font-size: 13px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 999;
    margin-top: 16px;
  }