<!-- <ion-header class="auth-header ion-no-border" mode="md">
  <ion-toolbar class="auth-toolbar">
    <ion-buttons slot="start" class="ml-3">
      <ion-button routerLink="/" routerDirection="root" class="roundbutton p-0">
        <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="page-title">
      <h1 class="title text-primary mb-0">Inscription</h1>
    </ion-title>
  </ion-toolbar>
  <div class="page-title">
    <h1 class="title text-primary">Inscription</h1>
  </div>
</ion-header> -->
<ion-header class="auth-header ion-no-border" mode="md">
  <a routerLink="/" routerDirection="root" class="roundbutton">
    <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
  </a>
  <div class="page-title">
    <h1 class="title text-primary">Inscription</h1>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <section class="auth-content auth-account-type p-2">
    <ion-grid class="h-100">
      <ion-row class="h-100">
        <ion-col size="12" class="ion-align-self-center">
          <article class="page-title">
            <h1 class="title fw-500">Vous êtes ?</h1>
          </article>
        </ion-col>
        <ion-col size="12" class="ion-align-self-center">
          <div class="page-content">
            <form class="d-block mt-3" [formGroup]="form" (ngSubmit)="choiseType()">
  
              <img class="d-block mb-2 mt-2 mr-auto w-100" src="./assets/img/type-background.svg" alt="type account">
  
              <ion-radio-group formControlName="type">
                <ion-item lines="none" class="d-inline ion-no-padding">
                  <ion-label>Recruteur</ion-label>
                  <ion-radio slot="start" color="primary" mode="md" value="recruiter"></ion-radio>
                </ion-item>
  
                <ion-item lines="none" class="d-inline float-right ion-no-padding">
                  <ion-label>Candidat</ion-label>
                  <ion-radio slot="start" color="primary" mode="md" value="candidate"></ion-radio>
                </ion-item>
              </ion-radio-group>
  
              <div class="mt-1">
                <ion-button class="choose-btn w-100" color="primary" type="submit" [disabled]="!form.valid">Continuer</ion-button>
              </div>
            </form>
  
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>