<form class="d-block" [formGroup]="form" (ngSubmit)="onSave()">
    <ion-header class="list-header ion-no-border" mode="md">
        <ion-toolbar>
            <ion-buttons (click)="modalController.dismiss()" routerDirection="root" class="roundbutton" slot="start">
                <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
            </ion-buttons>
            <ion-title>Présentation</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" class="forms">
        <section class="steps-content">
            <div class="page-content">
                <mat-form-field class="w-100">
                    <mat-label>Description de l’entreprise</mat-label>
                    <textarea matInput placeholder="" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=7
                        formControlName="description">
                    </textarea>
                </mat-form-field>
            </div>
            <div class="text-right mt-2">
                <ion-button type="submit" [disabled]="!form.valid">
                    Enregistrer
                </ion-button>
            </div>
        </section>
    </ion-content>
</form>