.countNotif {
    position: absolute;
    background-color: red;
    color: #ffffff;
    width: 16px;
    height: 16px;
    top: 2px;
    right: -5px;
    border-radius: 16px;
    font-size: 10px;
    line-height: 16px;
  }
  
