<ion-header class="list-header ion-no-border" mode="md">
    <ion-toolbar>
        <ion-buttons (click)="close()" class="roundbutton" slot="start">
            <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
        </ion-buttons>
        <ion-title>Descriptif du poste</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="forms">
    <section class="steps-content">
        <div class="page-content">
            <form class="d-block" [formGroup]="form">

                <div class="w-100">
                    <app-multi-select label="Intitulés d'usage" collection="usageTitles" formControlName="usageTitles">
                    </app-multi-select>
                    <small class="text-error" *ngIf="form.get('usageTitles').value?.length <= 0">
                        Veuillez choisir au moins un intitulés d'usage.
                    </small>
                </div>

                <div class="w-100">
                    <ion-item class="custom-select w-100">
                        <ion-label position="floating">Fonction <span class="required">*</span></ion-label>
                        <ion-select class="w-100" ok-text="Ok" cancel-text="Annuler" placeholder="Sélectionner"
                            formControlName="function">
                            <ion-select-option *ngFor="let item of globalService.functions" [value]="item._id">
                                {{item.name}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <small class="text-error"
                        *ngIf="form.get('function').invalid && (form.get('function').dirty || form.get('function').touched) ">
                        Champ obligatoire
                    </small>
                </div>

                <div class="w-100 mt-1">
                    <ion-item class="custom-input">
                        <ion-label position="floating">Poste à pourvoir <span class="required">*</span></ion-label>
                        <ion-input type="text" formControlName="desiredJob"></ion-input>
                    </ion-item>
                    <small class="text-error"
                        *ngIf="form.get('desiredJob').invalid && (form.get('desiredJob').dirty || form.get('desiredJob').touched) ">
                        Champ obligatoire
                    </small>
                </div>

                <div class="w-100">
                    <ion-item class="custom-input">
                        <ion-label position="floating">Descriptif de poste <span class="required">*</span></ion-label>
                        <ion-input type="text" formControlName="descriptions" #description></ion-input>
                        <ion-icon (click)="addTask(description)" name="add"></ion-icon>
                    </ion-item>
                    <small class="text-error" *ngIf="descriptions.length <= 0">
                        Veuillez Ajouter au moins une description.
                    </small>
                </div>
            </form>
            <div class="mb-1 mt-1">
                <ul class="customList">
                    <li *ngFor="let description of descriptions; let i = index;">
                        {{ description }}
                        <span class="text-primary text-left" (click)="deleteTask(i)">
                            <mat-icon class="cursor-pointer btn-round vertical-align ml-1">close</mat-icon>
                        </span><br>
                    </li>
                </ul>
            </div>

            <div class="text-right mt-2">
                <ion-button (click)="onSave()" [disabled]="!form.valid || descriptions.length <= 0">
                    Enregistrer
                </ion-button>
            </div>
            
        </div>
    </section>
</ion-content>