<ion-header class="auth-header signup-background ion-no-border" mode="md">
    <ion-toolbar class="auth-toolbar">
        <ion-buttons slot="start">
            <ion-button routerLink="/auth/account-type" routerDirection="root" class="roundbutton p-0">
                <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="page-title">
            <h1 class="title mb-0">Contactez-nous</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content overflow-scroll="true" scroll="true" class="forms">
    <section class="auth-content auth-contact p-1">
        <ion-grid class="h-100">
            <ion-row class="h-100">
                <ion-col size="12" class="ion-align-self-start">
                    <div class="page-content">
                        <form class="d-block" [formGroup]="form" (ngSubmit)="onSave()">
                            <div class="form-group">
                                <input class="custom-input" type="text" placeholder="Société"
                                    formControlName="companyName">
                                <small class="text-error"
                                    *ngIf="form.get('companyName').touched && form.get('companyName').hasError('required')">
                                    {{ 'shared.validations.required' | translate}}
                                </small>
                            </div>
                            <div class="form-group">
                                <input class="custom-input" type="text" placeholder="Nom complet"
                                    formControlName="fullName">
                                <small class="text-error"
                                    *ngIf="form.get('fullName').touched && form.get('fullName').hasError('required')">
                                    {{ 'shared.validations.required' | translate}}
                                </small>
                            </div>
                            <div class="form-group">
                                <input class="custom-input" type="text" placeholder="Fonction"
                                    formControlName="function">
                                <small class="text-error"
                                    *ngIf="form.get('function').touched && form.get('function').hasError('required')">
                                    {{ 'shared.validations.required' | translate}}
                                </small>
                            </div>
                            <div class="form-group">
                                <input class="custom-input" type="tel" placeholder="Téléphone"
                                    formControlName="phoneNumber">
                                <small class="text-error"
                                    *ngIf="form.get('phoneNumber').touched && form.get('phoneNumber').hasError('required')">
                                    {{ 'shared.validations.required' | translate}}
                                </small>
                            </div>
                            <div class="form-group">
                                <input class="custom-input" type="email" placeholder="E-mail" formControlName="email">
                                <small class="text-error" *ngIf="form.get('email').touched && (form.get('email').hasError('email') || 
                                form.get('email').hasError('required'))">
                                    {{ 'shared.validations.email' | translate}}
                                </small>
                            </div>
                            <div class="form-group">
                                <textarea class="custom-textarea" placeholder="Tapez votre message"
                                    formControlName="message"></textarea>
                                <small class="text-error"
                                    *ngIf="form.get('message').touched && form.get('message').hasError('required')">
                                    {{ 'shared.validations.required' | translate}}
                                </small>
                            </div>
                            <div class="mt-1">
                                <ion-button type="submit" class="w-100" color="primary" [disabled]="!form.valid">
                                    Envoyez le message
                                </ion-button>
                            </div>
                        </form>

                        <div class="other-choice text-center mt-2 pb-4">
                            <h3 class="title">
                                <span>Ou appelez le</span>
                            </h3>
                            <div class="text-center mt-2">
                                <div class="d-block mb-1">
                                    <img class="d-inline align-sub mr-2" src="./assets/icon/phone-icon.svg">
                                    <span class="d-inline align-center">+212 000 000 000</span>
                                </div>
                                <div class="d-block">
                                    <img class="d-inline align-sub mr-2" src="./assets/icon/phone-icon.svg">
                                    <span class="d-inline align-center">+212 000 000 000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </section>
</ion-content>