.file-button {
  background-color: #f6ce3c !important;
  border-radius: 25px !important;
  height: 30px;
  outline: none;
  color: #ffffff;
}
.countNotif {
  position: absolute;
  background-color: red;
  color: #ffffff;
  width: 16px;
  height: 16px;
  top: 2px;
  right: -5px;
  border-radius: 16px;
  font-size: 10px;
  line-height: 16px;
}
