<ion-app>
  <app-loader></app-loader>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" swipeGesture="false">
      <ion-content>
        <ion-item class="custom-menu ion-item-transparent" lines="none" *ngIf="authService.user">
          <ion-avatar slot="start" class="profil-menu" *ngIf="authService.user.userRole === 'Candidate'">
            <img
              [src]="authService.user.picture ? (('backend_url' | env) + this.authService.user.picture.name) : (authService.user['gender'] === 'masculin' ? '/assets/img/male.svg' : '/assets/img/female.svg' ) "
              alt="Profil">
          </ion-avatar>
          <ion-avatar slot="start" class="profil-menu" *ngIf="authService.user.userRole !== 'Candidate'">
            <img [src]="this.authService.user.picture ? (('backend_url' | env) + this.authService.user.picture.name) : 
            (authService.user.civility === 'Mr' ? '/assets/img/male.svg' : '/assets/img/female.svg' )"
              alt="Profil">
          </ion-avatar>

          <!-- <ion-avatar slot="start" class="profil-menu"
            *ngIf="authService.user.userRole === 'Responsable délégué' || authService.user.userRole === 'Responsable principale' ">
            <img [src]="authService.user.picture ? (('backend_url' | env) + this.authService.user.picture.name) : 
            (authService.user.civility === 'Mr' ? '/assets/img/male.svg' : '/assets/img/female.svg' )"
              alt="Profil">
          </ion-avatar> -->

          <ion-label class="profil-info ion-text-wrap">
            <h2><strong> {{ authService.user.firstName }} {{ authService.user.lastName }} </strong></h2>
            <p class="pt-1" *ngIf="authService.user && authService.user.percentage">
              Profil complété à :<strong class="porcent">
                {{ authService.user.percentage | number: '1.0-0' }} %
              </strong></p>
          </ion-label>
        </ion-item>
        <!-- <div class="spacer"></div> -->
        <ion-list class="text-center">
          <ion-menu-toggle auto-hide="false">
            <!--  -->
            <ion-item [routerLink]="authService.user['userRole'] === 'Candidate' ? '/dashboard/plug-recruiter' : '/dashboard'" routerDirection="root"
              detail="false" *appHasPermission="['read_matching']" lines="full" class="ion-item-transparent">
              <ion-icon slot="start" src="/assets/icon/home.svg" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label>Swipe & match</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" detail="true" *appHasPermission="[p.right]"
              lines="full">
              <ion-icon slot="start" [src]="p.icon" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">

            <ion-item lines="full" detail="true" routerLink="dashboard/about" routerDirection="root">
              <ion-icon slot="start" src="/assets/icon/about-us.svg" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label> A propos de jobwinwin </ion-label>
            </ion-item>

            <ion-item lines="full">
              <ion-icon slot="start" src="/assets/icon/suivez-nous.svg" style="width: 20px; height: 20px;"></ion-icon>
              <div class="">

                <a href="https://www.facebook.com/Jobwinwin-100840178767092" target="_blank">
                  <img class="mr-1 inline-block cursor-pointer" src="./assets/icon/circle-facebook.svg" alt="facebook">
                </a>

                <a href="https://www.instagram.com/jobwinwin" target="_blank">
                  <img class="mr-1 inline-block cursor-pointer" src="./assets/icon/circle-instagram.svg"
                    alt="instagram">
                </a>

                <a href="https://twitter.com/jobwinwin" target="_blank">
                  <img class="mr-1 inline-block cursor-pointer" src="./assets/icon/circle-twitter.svg" alt="twitter">
                </a>

                <a href="https://www.linkedin.com/company/jobwinwin/" target="_blank">
                  <img class="mr-1 inline-block cursor-pointer" src="./assets/icon/circle-linkedin.svg" alt="linkedin">
                </a>

              </div>
            </ion-item>

            <!-- <ion-item>
              <ion-row>
                <ion-col size="12">
                 
                </ion-col>
                <ion-col class="ml-3 ion-no-padding" size="12">
                  <div class="pt-1 pb-1">
                    <img class="mr-1" src="./assets/icon/circle-facebook.svg" alt="facebook">
                    <img class="mr-1" src="./assets/icon/circle-instagram.svg" alt="instagram">
                    <img class="mr-1" src="./assets/icon/circle-twitter.svg" alt="twitter">
                    <img class="mr-1 cursor-pointer" src="./assets/icon/circle-linkedin.svg" alt="linkedin" (click)="redirectTo('https://www.linkedin.com/company/jobwinwin/')">
                  </div>
                </ion-col>
              </ion-row>
            </ion-item> -->

            <ion-item lines="none" detail="false" (click)="authService.logout()">
              <ion-icon slot="start" src="./assets/icon/deconnexion.svg" style="width: 20px; height: 20px;"></ion-icon>
              <ion-label>Déconnexion</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <router-outlet id="main-content"></router-outlet>
  </ion-split-pane>
</ion-app>