.profil-menu {
  width: 80px;
  height: 80px;
}
.profil-info {
  font-weight: 400;
  color: #ffffff;
  // text-transform: capitalize;
  h2 {
    line-height: 25px !important;
    margin: 0 !important;
    font-size: 16px;
  }
  h3,
  p {
    margin-bottom: 5px !important;
    font-size: 14px;
    color: #ffffff;
  }
  .strong {
    font-weight: 600;
  }
  .porcent {
    color: #f6ce3c;
  }
}
.custom-menu {
  // background: url(../assets/img/bg-menu.svg) 100% 0/100% no-repeat;
  background: url(../assets/img/signup-background.svg) 0 0/100% fixed no-repeat;
  padding-bottom: 2.5em;
  padding-top: 1.5em;
}
