<!-- <ion-header class="auth-header ion-no-border" mode="md">
  <ion-toolbar class="auth-toolbar">
    <ion-buttons slot="start" class="ml-3">
      <ion-button routerLink="/" routerDirection="root" class="roundbutton p-0">
        <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="page-title">
      <h1 class="title text-primary mb-0">Mot de passe oublié</h1>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header class="auth-header ion-no-border" mode="md">
  <a routerLink="/" routerDirection="root" class="roundbutton">
    <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
  </a>
  <div class="page-title">
    <h1 class="title text-primary">Mot de passe oublié</h1>
  </div>
</ion-header>
<ion-content [fullscreen]="false" class="forms">
  <section class="auth-content auth-forgot-password p-1">
    <ion-grid class="h-100">
      <ion-row class="h-100">
        <ion-col size="12" class="ion-align-self-center">
          <div class="page-content">
            <img class="d-block mb-2 mr-auto w-100" src="./assets/img/forgot-password.svg" alt="forgot password">
            <p class="mt-2">
              Saisissez votre adresse e-mail <br>
              pour réinitialiser votre mot de passe
            </p>
            <form class="d-block mt-2" [formGroup]="form" (ngSubmit)="onSave()">
              <div class="form-group">
                <input class="custom-input" type="email" placeholder="E-mail" formControlName="email">
                <small class="text-error" *ngIf="form.get('email').touched && (form.get('email').hasError('email') || 
                form.get('email').hasError('required'))">
                  {{ 'shared.validations.email' | translate}}
                </small>
              </div>
              <div class="mt-1">
                <ion-button type="submit" class="choose-btn w-100" color="primary" [disabled]="!form.valid">
                  Envoyer
                </ion-button>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </section>

</ion-content>