<!-- <ion-header class="auth-header ion-no-border" mode="md">
  <ion-toolbar class="auth-toolbar">
    <ion-buttons slot="start" class="ml-3">
      <ion-button routerLink="/auth/forgot-password" routerDirection="root" class="roundbutton p-0">
        <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="page-title">
      <h1 class="title mb-0">Vérification d’email</h1>
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header class="auth-header ion-no-border" mode="md">
  <a [routerLink]="authService.fromPage === 'sign-up' ? '/auth/sign-up' : '/auth/forgot-password' " routerDirection="root" class="roundbutton">
    <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
  </a>
  <div class="page-title">
    <h1 class="title">Vérification d’email</h1>
  </div>
</ion-header>
<ion-content [fullscreen]="true" class="verify-background forms">
  <section class="auth-content auth-verification p-1">
    <ion-grid class="h-100">
      <ion-row class="h-100">
        <ion-col size="12" class="ion-align-self-center">
          <div class="page-content mt-3">
            <h4 class="subtitle">Entrez le code</h4>
            <p class="desc text-center mt-2">
              Nous vous avons envoyé un code d’activation par email sur le compte {{ authService.verificationEmail }}
            </p>
            <form [formGroup]="form" (ngSubmit)="onSave()">
              <div class="custom-card mt-4">
                <div class="form-group text-center">
                  <input class="verify-number" type="text" maxLength="1" tabindex="1" (keyup)="moveFocus($event, b)"
                    formControlName="one">
                  <input class="verify-number" type="text" maxLength="1" tabindex="2" #b (keyup)="moveFocus($event, c)"
                    formControlName="two">
                  <input class="verify-number" type="text" maxLength="1" tabindex="3" #c (keyup)="moveFocus($event, d)"
                    formControlName="three">
                  <input class="verify-number" type="text" maxLength="1" tabindex="4" #d formControlName="four">
                </div>
              </div>

              <div class="text-left pt-2">
                <strong *ngIf="sendTimer"  class="text-primary" (click)="resendCode()">Renvoyer le code ?</strong><br>
                <small>Veuillez patienter au moins 2 minutes avant de demander un autre code </small>
              </div>

              <ion-button type="submit" class="btn-verification mt-3 w-100" [disabled]="!form.valid">
                Validez
              </ion-button>

            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </section>

</ion-content>