<ion-header class="auth-header ion-no-border" mode="md">
  <ion-toolbar class="auth-toolbar">
    <ion-buttons slot="start" class="ml-3">
      <ion-button routerLink="/" routerDirection="root" class="roundbutton p-0">
        <ion-icon src="./assets/icon/arrow-back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="page-title">
      <h1 class="title-black mb-0">Nouveau mot de passe</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="forms">
  <section class="auth-content auth-resetPassword p-1 h-80vh">
    <ion-grid class="h-100">
      <ion-row class="h-100">
        <ion-col size="12" class="ion-align-self-center">
          <div class="page-content">
            <img class="d-block mb-2 mr-auto w-100" src="./assets/img/set-new-password.svg" alt="Set New password">
            <p class="text-center mt-2">
              Entrez le nouveau mot de passe
            </p>
            <form class="d-block mt-2" [formGroup]="form" (ngSubmit)="onSave()">
              <div class="form-group position-relative">
                <input class="custom-input" type="password" placeholder="Nouveau mot de passe"
                  formControlName="password">
              </div>
              <div class="form-group position-relative">
                <input class="custom-input" type="password" placeholder="Confirmez le mot de passe"
                  formControlName="confirmPassword">
              </div>
              <div class="mt-1">
                <ion-button type="submit" class="w-100" color="primary" [disabled]="!form.valid">Validez</ion-button>
              </div>
            </form>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </section>

</ion-content>