@media screen and (min-width: 420px) {
  .signup-background {
    height: 300px !important;
  }
  .auth-logo {
    margin-top: 2em !important;
    width: 70% !important;
  }
  .auth-content.auth-login {
    width: 80%;
    margin: auto;
    // .page-content {
    //   border-radius: 15px;
    //   background: #ffffff;
    //   border: 1px solid #f3f3f3;
    //   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    //   min-height: 160px;
    //   padding: 26px 16px;
    // }
  }
  .auth-content.auth-signup {
    height: 70vh !important;
    .page-content {
      width: 80%;
      margin: auto;
    }
  }
  .auth-content.auth-contact {
    height: 70vh !important;
    .page-content {
      width: 80%;
      margin: auto;
    }
  }
  .auth-content.auth-account-type {
    height: 60vh;
    .choose-btn {
      display: block !important;
      margin: 1em auto !important;
      width: 50% !important;
    }
  }
  .auth-forgot-password,
  .auth-resetPassword {
    height: 80vh !important;
    .page-content {
      width: 80%;
      margin: auto;
    }
  }
  .auth-content.auth-verification {
    height: 70vh !important;
    .page-content {
      width: 80%;
      margin: auto;
      .btn-verification {
        --background: var(--ion-color-primary-contrast) !important;
        color: var(--ion-color-primary);
      }
    }
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 665px) {
}
